/*--------------------------------------- Variables ---------------------------------------------*/
:root{
  --bg-blue-wallpapper-200: #87c9ff;
  --bg-blue-wallpapper-300: #3baff9;
  --bg-blue-wallpapper-500: #0087d6;
  
}
/*--------------------------------------- Generales ---------------------------------------------*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img{
  max-width: 100%;
}
body{
  background: linear-gradient(160deg, var(--bg-blue-wallpapper-300) 41%, var(--bg-blue-wallpapper-200) 52%, var(--bg-blue-wallpapper-300) 64%);
  font-family: 'Mate SC', 'Shadows Into Light', Impact, sans-serif, cursive;
  min-height: 100vh;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/*--------------------------------------- Backgrounds and colors ---------------------------------------------*/
.has-background-blackgrey{
  background-color: var(--has-background-blackgrey);
}
/*-------------------------------------------------------- Index/Home -----------------------------------------*/
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 4.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 75% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}