<header id="adminHeader">
    <a href="#nav" class="sr-only focus:not-sr-only bg-gray-100 focus:p-2">Skip to Navbar</a>
    <a href="#main" class="sr-only focus:not-sr-only bg-gray-100 focus:p-2">Skip to Main Content</a>
    <a href="#habilidad" class="sr-only focus:not-sr-only bg-gray-100 focus:p-2">Skip to Habilidad</a>
    <a href="#foo" class="sr-only focus:not-sr-only bg-gray-100 focus:p-2">Skip to Main Footer</a>
</header>